<launch>

  <!-- run the Nano serial communication node for the MPU6500
  <node pkg="rosserial_python"
        type="serial_node.py"
        name="arduino_nano_6050"
        output="screen">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="baud" value="115200" />
  </node>-->

  <!-- run the Nano serial communication node for the MPU6050-->
  <node pkg="rosserial_python"
        type="serial_node.py"
        name="arduino_nano_6500"
        output="screen">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="500000" />
  </node>

  <!-- run the IMU msg creator MPU6050 -->
  <node pkg="mpu_imu"
        type="imu_type_creator_tf2_6050"
        name="imu_type_creator_tf2_6050"
        output="screen"
        respawn="true">
  </node>

  <!-- run the IMU msg creator MPU6500
  <node pkg="mpu_imu"
        type="imu_type_creator_tf2_6500"
        name="imu_type_creator_tf2_6500"
        output="screen"
        respawn="true">
  </node>-->

</launch>
